body {
    font-family: 'Arial', sans-serif;
    direction: rtl;  /* Force RTL text direction */
    text-align: right;  /* Align text to the right */
}

h1, h2 {
    margin-right: 20px;
    color: #333;
    text-align: center;
}

#salary-chart {
    margin: 20px;
}

canvas {
    margin: auto;
    display: block;  /* Center the canvas */
}

#overview {
    transition: transform 0.3s;
}

#overview:hover {
    transform: scale(1.1); /* Zoom effect on hover */
}
