h1, h2 {
    margin-right: 20px;
    color: #333;
    text-align: center;
}

#salary-chart {
    margin: 20px;
}

canvas {
    margin: auto;
    display: block;  /* Center the canvas */
    width: 100%;    /* Make it fill the container */
    height: 400px;  /* Set a fixed height */
    max-width: 800px; /* Set a maximum width */
    }
    
#overview {
    transition: transform 0.3s;
}

#overview:hover {
    transform: scale(1.1); /* Zoom effect on hover */
}

/* style.css */
body {
    font-family: Arial, sans-serif;
    direction: rtl;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .container {
    text-align: right;
    margin: 0 auto;
    max-width: 600px;
  }
  
  ul {
    list-style-type: disc;
    padding: 0;
  }
  
  li {
    font-size: 1.4em;
    margin: 10px 0;
    margin-right: 50px;
    text-align: right;
  }
  
  p {
    text-align: left;
    font-size: 40px;
  }

  b {
    font-weight: bold;
    color: #000; /* Optional: Adjust the color of the bold text if needed */
}



.bold-underline {
    font-weight: bold;
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

#dynamic-list {
    list-style-type: none;
    padding: 0;
}

#dynamic-list li {
    margin-bottom: 15px;
}